@import "tailwindcss";

:root {
  /* Warna Dasar Ma-Dyang */
  --background: #f9f9f9;
  --foreground: #1a1c1c;
  --primary: #a0383b;
  --primary-container: #c05051;
  --on-primary: #ffffff;
  --surface-container-low: #f3f3f3;
}

/* HAPUS SEMUA @media (prefers-color-scheme: dark) DI SINI */

body {
  background: var(--background);
  color: var(--foreground);
}